<div class="main_container" fxLayout="column">
  <form [formGroup]="moviesForm" fxLayout="column">
    <h1>IMDB Movie Search</h1>
  
    <mat-form-field appearance="legacy">
      <mat-label>Title</mat-label>
  
      <input matInput type="text" id="title" formControlName="title" placeholder="Movie title" />
  
      <mat-icon matPrefix>movie</mat-icon>
    </mat-form-field>
  
    <mat-form-field appearance="legacy">
      <mat-label>Year</mat-label>
  
      <input matInput type="number" id="year" formControlName="year" placeholder="Movie year" />
  
      <mat-icon matPrefix>calendar</mat-icon>
    </mat-form-field>
  
    <button mat-raised-button type="submit"
      (click)="searchMovies(moviesForm.get('title')?.value, moviesForm.get('year')?.value)"
      [disabled]="moviesForm.invalid">
      Search
    </button>
  </form>
  
  <div *ngIf="!movies && showMovieResults">
    No results found
  </div>

  <div class="results" fxLayoutAlign="end center" *ngIf="movies">
      Results: {{movies?.length || 0}}
    </div>

  <mat-form-field appearance="fill" *ngIf="movies && movies?.length">
    <mat-label>Sort By</mat-label>
  
    <mat-select (selectionChange)="sortMovies($event.value)">
      <mat-option selected disabled>Sort By</mat-option>
      <mat-option value="a-zAsc">Alphabetically (Ascending)</mat-option>
      <mat-option value="a-zDsc">Alphabetically (Descending)</mat-option>
      <mat-option value="yearAsc">Year (Ascending)</mat-option>
      <mat-option value="yearDsc">Year (Descending)</mat-option>
    </mat-select>
  </mat-form-field>
  
  <div class="movies" *ngIf="movies" fxLayout="row wrap" fxLayoutAlign="space-around start">
    <app-movie-card *ngFor="let movie of movies" [movie]="movie"></app-movie-card>
  </div>
</div>